  body{
    margin: 0px;
  }
  
  .box{  /*Configuração da faixa*/ 
    display: flex; 
    background-image: linear-gradient(90deg,brown, rgb(15, 15, 15)); 
    height: 75px; 
    padding-inline: 20px; 
    color: aliceblue; 
    align-items: center; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);    
}
    


  
  .pagina_de_corte{   /*Configuração da 2° página*/
    background-color: aliceblue;
}

    
    .title{
        font-family: 'DM' sans-serif;
        font-size: 40px;
        margin: 20px;
        font-weight: 1000;
    }

    .cards_box{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top: 85px;
    
    }

   .card{
    width: 200px;
    margin: 20px;


    background-image: linear-gradient(90deg,rgb(131, 129, 129), #b8b8d6);
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;    
    cursor: pointer;
    transition: 0.3s;
   
}

/* aparência quando selecionado */
.card.selecionado{
    background-image: linear-gradient(90deg,rgb(165, 42, 42), #bba7a7);
    background-color: #d4ffd4;
    outline: 3px solid rgb(63, 34, 34);
}

.card:hover{
    box-shadow: 0 0 22px #b8b8d6, 0 0 20px #7272d1;
    transform: translate(-8px, -5px);
                
}

.card.selecionado:hover{
    box-shadow: 0 0 22px #a52a2a, 0 0 20px #a52a2a70;
}

button{
    width: 200px;
    padding: 25px;
    margin: 15px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    background-color: rgb(185, 39, 39);
    cursor: pointer; /* muda o cursor do mouse quando passa por cima */
    margin-left: 30px;
    justify-content: center;

    font-size: 21px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover{
    background-color:darkred;
    transition: 0.3s;
}

.back-btn {
    margin: 15px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: brown;
    text-decoration: none;
    transition: 0.2s;
}


/*.card {
    width: 1100px;
    margin-left: 15px;


    background-image: linear-gradient(90deg,rgb(131, 129, 129), #b8b8d6);
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;
}

.cards_box{
    margin-top: 100px;
}


.card{
    background-color: #333;
}

.select{
    border: 3px solid gold;
} */